!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    %script{:src => "https://cdn.rawgit.com/t4t5/sweetalert/master/dist/sweetalert.min.js"}
    %link{:href => "https://cdn.rawgit.com/t4t5/sweetalert/master/dist/sweetalert.css", :rel => "stylesheet", :type => "text/css"}/
    %title Darts Scoreboard
  %body
    %main.panel.small-centered.columns.container
      .header.text-center
        %h1.hide-for-small-only Darts Scoreboard
        %h3.show-for-small-only Darts Scoreboard
      .row
        .medium-4.medium-centered.columns
          %input#user-name.text-center{:placeholder => "Name", :type => "text"}/
        .medium-4.medium-centered.columns
          %input#user-score.text-center{:placeholder => "Score", :type => "text"}/
      .row
        .small-5.medium-2.small-centered.columns
          %input#addScore.animated.clicker.bounceInLeft{:height => "70", :src => "target-text.png", :type => "image", :width => "130"}/
      .row
        .small-5.medium-2.small-centered.columns
          %input#clear.animated.clicker.bounceInRight{:height => "70", :src => "clear.png", :type => "image", :width => "130"}/
      %br/
      .row.text-center
        .medium-6.medium-offset-3.columns
          %ul#rankings
        .medium-3.columns
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.0.0/lodash.min.js"}
    %script{:src => "js/main.js"}
